{
  "presets": ["es2015"],
  "plugins": [
    "syntax-jsx",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-runtime", 
    "transform-react-jsx",
    "babel-plugin-transform-regenerator", 
    "babel-plugin-transform-es2015-modules-commonjs"
  ]
}
